.news-card__delete-icon {
  position: absolute;
  right: 24px;
  top: 24px;
  background: url(../../../images/trash.svg);
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.news-card__delete-icon:hover {
  background: url(../../../images/trashSolid.svg);
}