@import url(./_theme/_light/header__menu-burger_theme_light.css);

.header__menu-burger {
  width: 24px;
  height: 24px;
  background-image: url(/src/images/burgerMenu.svg);
  display: none;
}

@media screen and (max-width:650px) {
  .header__menu-burger {
    display: flex;
  }
}