.root {
  background: url(../../images/georgia-de-lotz--UsJoNxLaNo-unsplash\ \(1\).jpg);
  background-size: cover;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}