.news-card__tooltip {
  position: absolute;
  background-color: white;
  padding: 0 10px;
  height: 40px;
  right: 75px;
  top: 24px;
  border-radius: 10px;
  font-family: roboto;
  font-weight: 500;
  font-size: 12px;
  display: none;
  align-items: center;
  color: #000000;
}