@import url(./__link/header-nav__link.css);
@import url(./__menu-burger/header__menu-burger.css);
@import url(./__menu-burger-close/header__menu-burger-close.css);
@import url(./__menu-burger-content/header__menu-burger-content.css);
@import url(./__nav/header__nav.css);

.header {
  max-width: 100%;
  min-height: 80px;
  border-bottom: rgba(196, 196, 196, 0.2) solid 1px;
  display: flex;
  justify-content: center;
  z-index: 2;
}